<ul class="nav justify-content-center bg-success">
  <li class="nav-item">
    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#" id="carrito">Carrito</a>
  </li>
</ul>

