<div id="modal" class="modal hide" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
        <button id="cierre" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      </div>
    </div>
  </div>
</div>